build/
dist/
/lex06/nbproject/private/
/lez06/nbproject/private/
/lez08-banca/nbproject/private/
/lez-09/nbproject/private/
/lez-09_1/nbproject/private/
/lez-09-garage/nbproject/private/
/lez-09-garage_interfacce/nbproject/private/
/lez-10/nbproject/private/
/lez11/nbproject/private/
/lez11.gui/nbproject/private/
/lez11-gui/nbproject/private/
/lez11-gui-Preloader/nbproject/private/
/JavaFX/nbproject/private/
/jdbctest/nbproject/private/
/lez12-jdbc/target/